In [1]:
import pandas as pd

In [2]:
data = pd.read_excel('crop_csv_file.xlsx')

In [3]:
data.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Temperature,humidity,soil moisture,area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,36,35,45,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,37,40,46,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,36,41,50,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,37,42,55,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,36,40,54,720.0,165.0

In [4]:
data.head()
data = data[:10000]

In [5]:
data.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Temperature,humidity,soil moisture,area,Production
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,36,35,45,1254.0,2000.0
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,37,40,46,2.0,1.0
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,36,41,50,102.0,321.0
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,37,42,55,176.0,641.0
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,36,40,54,720.0,165.0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
State_Name       10000 non-null object
District_Name    10000 non-null object
Crop_Year        10000 non-null int64
Season           10000 non-null object
Crop             10000 non-null object
Temperature      10000 non-null int64
humidity         10000 non-null int64
soil moisture    10000 non-null int64
 area            10000 non-null float64
Production       9931 non-null float64
dtypes: float64(2), int64(4), object(4)
memory usage: 625.0+ KB

In [7]:
#handling missing data
data = data.dropna()
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9931 entries, 0 to 9999
Data columns (total 10 columns):
State_Name       9931 non-null object
District_Name    9931 non-null object
Crop_Year        9931 non-null int64
Season           9931 non-null object
Crop             9931 non-null object
Temperature      9931 non-null int64
humidity         9931 non-null int64
soil moisture    9931 non-null int64
 area            9931 non-null float64
Production       9931 non-null float64
dtypes: float64(2), int64(4), object(4)
memory usage: 698.3+ KB

In [8]:
data.describe()

,Crop_Year,Temperature,humidity,soil moisture,area,Production
count,9931.000000,9931.000000,9931.000000,9931.000000,9931.000000,9.931000e+03
mean,2006.076025,34.445675,44.773034,53.108146,13299.452361,1.816847e+06
std,5.153237,3.499294,6.662943,5.259584,46476.817881,2.748270e+07
min,1997.000000,25.000000,35.000000,45.000000,0.200000,0.000000e+00
25%,2002.000000,34.000000,40.000000,50.000000,160.000000,2.045000e+02
50%,2006.000000,36.000000,42.000000,54.000000,1071.000000,1.776000e+03
75%,2011.000000,36.000000,50.000000,55.000000,6265.500000,1.321650e+04
max,2014.000000,37.000000,55.000000,62.000000,877029.000000,7.801620e+08

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

State_Name = le.fit_transform(data.State_Name)
District_Name = le.fit_transform(data.District_Name)
Crop_Year = le.fit_transform(data.Crop_Year)
crop = le.fit_transform(data.Crop)
Season = le.fit_transform(data.Season)
data['State_Name'] = State_Name
data['District_Name'] = District_Name
data['Crop_Year'] = Crop_Year
data['Crop'] = crop
data['Season']  = Season

In [10]:
data.head()

,State_Name,District_Name,Crop_Year,Season,Crop,Temperature,humidity,soil moisture,area,Production
0,0,9,3,1,0,36,35,45,1254.0,2000.0
1,0,9,3,1,41,37,40,46,2.0,1.0
2,0,9,3,1,51,36,41,50,102.0,321.0
3,0,9,3,3,3,37,42,55,176.0,641.0
4,0,9,3,3,10,36,40,54,720.0,165.0

In [13]:
from sklearn.model_selection import train_test_split
#from sklearn.cross_validation import train_test_split

In [14]:
X = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [15]:
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.2,random_state=100)

In [16]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import roc_auc_score , classification_report, mean_squared_error, r2_score
forest = RandomForestRegressor(n_estimators=1000, 
                               criterion='mse', 
                               random_state=1, 
                               n_jobs=-1)
forest.fit(X_train, Y_train)
y_train_pred = forest.predict(X_train)
y_test_pred = forest.predict(X_test)

print('MSE train: %.3f, test: %.3f' % (
        mean_squared_error(Y_train, y_train_pred),
        mean_squared_error(Y_test, y_test_pred)))
print('R^2 train: %.3f, test: %.3f' % (
        r2_score(Y_train, y_train_pred),
        r2_score(Y_test, y_test_pred)))

MSE train: 7016771753539.088, test: 43389714937956.969
R^2 train: 0.990, test: 0.958

In [17]:
print(forest.score(X_test,Y_test))

0.958038456373824

In [18]:
from sklearn.neural_network import MLPRegressor

In [21]:
clf = MLPRegressor(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1)
clf.fit(X_train, Y_train)

MLPRegressor(activation='relu', alpha=1e-05, batch_size='auto', beta_1=0.9,
       beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(5, 2), learning_rate='constant',
       learning_rate_init=0.001, max_iter=200, momentum=0.9,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=1, shuffle=True, solver='lbfgs', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

In [23]:
clf.predict(X_test)

array([  14300.26685026, 2064963.9822495 ,   14300.26685026, ...,
         14300.26685026,   14300.26685026,   14300.26685026])

In [ ]:
state = input('enter state:')
district = input('enter district:')
year = input('enter year:')
season = input('enter season:')
crop = input('enter crop:')
area = input('enter area:')

out = [float(State_Name),float(District_Name),float(Crop_Year),float(Season,Crop),float(Temperature),float(humidity),float(soil moisture),float(area)]
out = clf.predict(out)
print('crop yield Production:',out)

# Fertilizer prediction

In [42]:
data_1 = pd.read_csv('ferlizer.csv')

In [43]:
data_1

      n  p  k  amt of n  amt of p  amt of k
0     3  5  6        64        50        60
1     1  4  2        40        46        30
2     5  1  5        93        16        32
3     3  1  3        63        20        39
4     4  6  6        87        37        39
5     2  1  1        65        19        32
6     3  5  6        64        50        60
7     1  4  2        40        46        30
8     5  1  5        93        16        32
9     3  1  3        63        20        39
10    4  6  6        87        37        39
11    2  1  1        65        19        32
12    3  5  6        64        50        60
13    1  4  2        40        46        30
14    5  1  5        93        16        32
15    3  1  3        63        20        39
16    4  6  6        87        37        39
17    2  1  1        65        19        32
18    3  5  6        64        50        60
19    1  4  2        40        46        30
20    5  1  5        93        16        32
21    3  1  3        63        20        39
22    4  6  6        87        37        39
23    2  1  1        65        19        32
24    3  5  6        64        50        60
25    1  4  2        40        46        30
26    5  1  5        93        16        32
27    3  1  3        63        20        39
28    4  6  6        87        37        39
29    2  1  1        65        19        32
...  .. .. ..       ...       ...       ...
3210  3  5  6        64        50        60
3211  1  4  2        40        46        30
3212  5  1  5        93        16        32
3213  3  1  3        63        20        39
3214  4  6  6        87        37        39
3215  2  1  1        65        19        32
3216  3  5  6        64        50        60
3217  1  4  2        40        46        30
3218  5  1  5        93        16        32
3219  3  1  3        63        20        39
3220  4  6  6        87        37        39
3221  2  1  1        65        19        32
3222  3  5  6        64        50        60
3223  1  4  2        40        46        30
3224  5  1  5        93        16        32
3225  3  1  3        63        20        39
3226  4  6  6        87        37        39
3227  2  1  1        65        19        32
3228  3  5  6        64        50        60
3229  1  4  2        40        46        30
3230  5  1  5        93        16        32
3231  3  1  3        63        20        39
3232  4  6  6        87        37        39
3233  2  1  1        65        19        32
3234  3  5  6        64        50        60
3235  1  4  2        40        46        30
3236  5  1  5        93        16        32
3237  3  1  3        63        20        39
3238  4  6  6        87        37        39
3239  2  1  1        65        19        32

[3240 rows x 6 columns]

In [44]:
n = data_1.iloc[:,0:1]
p = data_1.iloc[:,1:2]
k = data_1.iloc[:,2:3]
amt_n = data_1.iloc[:,3:4]
amt_p = data_1.iloc[:,4:5]
amt_k = data_1.iloc[:,5:6]

In [45]:
X_n_train , X_n_test , y_n_train , y_n_test = train_test_split(n,amt_n,test_size=0.2,random_state=100)

In [46]:
X_p_train , X_p_test , y_p_train , y_p_test = train_test_split(p,amt_p,test_size=0.2,random_state=100)

In [47]:
X_k_train , X_k_test , y_k_train , y_k_test = train_test_split(k,amt_k,test_size=0.2,random_state=100)

In [48]:
from sklearn.neural_network import MLPRegressor
clf_n = MLPRegressor(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1)
clf_n.fit(X_n_train, y_n_train)
y_n_pred = clf_n.predict(y_n_test)
clf_n.score(y_n_test,y_n_pred)

C:\Users\Yasin Mohammed\Anaconda33\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:1316: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

1.0

In [54]:
clf_p = MLPRegressor(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1)
clf_p.fit(X_p_train, y_p_train)
y_p_pred = clf_n.predict(y_p_test)
clf_p.score(y_p_test,y_p_pred)

C:\Users\Yasin Mohammed\Anaconda33\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:1316: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

-1.3101496439657607

In [55]:
clf_k = MLPRegressor(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1)
clf_k.fit(X_p_train, y_k_train)
y_k_pred = clf_n.predict(y_k_test)
clf_k.score(y_k_test,y_k_pred)

C:\Users\Yasin Mohammed\Anaconda33\lib\site-packages\sklearn\neural_network\multilayer_perceptron.py:1316: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

-8.612062745927053

In [58]:
n_i = float(input('enter nitrogen:'))
p_i = float(input('enter posporus:'))
k_i = float(input('enter pottasium:'))
p_n = clf_n.predict([[n_i]])
p_p = clf_p.predict([[p_i]])
p_k = clf_k.predict([[k_i]])
print('Amount of nitrogen Fertizer:',p_n)
print('Amount of posporus Fertizer:',p_p)
print('Amount of nitrogen Fertizer:',p_k)

enter nitrogen:3
enter posporus:3
enter pottasium:3
Amount of nitrogen Fertizer: [68.72145981]
Amount of posporus Fertizer: [31.27745958]
Amount of nitrogen Fertizer: [38.57587112]

# GUI

In [ ]:
from tkinter import *
from tkinter import ttk

root = Tk()
root.title('Crop Yield and fertilizer Prediction System')
root.geometry('850x650')
root.configure(background="purple2")
var = StringVar()
label = Label( root, textvariable = var,font=('arial',20,'bold'),bd=20,background="purple2")
var.set('Crop Yield and fertilizer Prediction System')
label.grid(row=0,columnspan=6)




label_1 = ttk.Label(root, text ='Precepation',font=("Helvetica", 16),background="Purple3")
label_1.grid(row=11,column=0)
    
Entry_1= Entry(root)
Entry_1.grid(row=11,column=1)

label_2 = ttk.Label(root, text ='TMAX',font=("Helvetica", 16),background="Purple3")
label_2.grid(row=12,column=0)
    
Entry_2 = Entry(root)
Entry_2.grid(row=12,column=1)
    
    
label_3 = ttk.Label(root, text ='TMIN',font=("Helvetica", 16),background="Purple3")
label_3.grid(row=13,column=0)
    
Entry_3 = Entry(root)
Entry_3.grid(row=13,column=1)


def predict():
    prep = Entry_1.get()
    TMAX = Entry_2.get()
    TMIN = Entry_3.get()
    out = clf_entropy.predict([float(prep),float(TMAX),float(TMIN)])
    if out[0] == 1:
        output.delete(0,END)
        output.insert(0,'yes')
    else:
        output.delete(0,END)
        output.insert(0,'no')
        

b1 = Button(root, text = 'predict',font=("Helvetica", 16),background="Purple3",command = predict)
b1.grid(row=14,column=0)
    

output = Entry(root)
output.grid(row=14,column=1)
    
root.mainloop()